# OS
.DS_Store
*.swp

# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
components
bower_components

# Compile directories
www/
